
/* bandeau de titre */
h1 { 
  color: white;
  box-shadow: none; 
  background-color: rgb(33,33,33);
  border-top: 4px solid rgb(33,33,33);
  border-bottom: 4px solid rgb(33,33,33);
  text-align: center;
  text-shadow:1;
  padding-top : 1.5% ;
  padding-bottom: 1.5%;
  margin-top: -1%;
  margin-left:-2%;
  margin-right:-2%;
}

/*sous-titre*/

h2 {
  text-align: center;
  
  
}


/* fond de page */
body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(252,252,252,1);
  height: 97vh;
  /* pour éviter l'ascenseur */
  box-sizing: border-box;
  font-family: Century Gothic, sans-serif;

}
#Datedebut, #Datefin {
  font-size:25; 
  text-align:center;
  display:inline-block;
  margin-right:10px;
 }

#bouton{
  text-align:center;
  display:inline-block;
}

#selecteur {
  justify-content: center;
  text-align: center;
}

#reponse {
	font-size:22;
	color:cyan;
	justify-content : center;
	
	}

#map { 
  height:60%;
  width: 92%;
  border-top: 4px solid rgb(33,33,33);
  border-bottom: 4px solid rgb(33,33,33) ;
  border-left: 4px solid rgb(33,33,33);
  border-right: 4px solid rgb(33,33,33);
  margin:auto;
}

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 0em; height: 0em; }


a.delete:hover {
  color: red;
}
