
/* bandeau de titre */
h1 { 
  color: white;
  box-shadow: none; 
  background-color: rgb(33,33,33);
  border-top: 4px solid rgb(33,33,33);
  border-bottom: 4px solid rgb(33,33,33);
  text-align: center;
  text-shadow:1;
  padding-top : 1.5% ;
  padding-bottom: 1.5%;
  margin-top: -1%;
  margin-left:-2%;
  margin-right:-2%;
}

/* fond de page */
body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(252,252,252,1);
  height: 97vh;
  /* pour éviter l'ascenseur */
  box-sizing: border-box;

}
#Datedebut {font-size:30;margin-top:21%; text-align: left; }
#Datefin{font-size:30;margin-top:22%;text-align:left; }

#map { height:50%; width: 60%;
  float:left; border-top: 4px solid rgb(33,33,33);
  border-bottom: 4px solid rgb(33,33,33) ;
  border-left: 4px solid rgb(33,33,33);
  border-right: 4px solid rgb(33,33,33  )}

/* contenu de la page */

/* polices de caractères */
body { font-family: Century Gothic, sans-serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 0em; height: 0em; }

/*
input, textarea {
  font-family: monospace;
  padding: 2px 0.5em;
  width: 5em;
  font-size: 1.2em;
  line-height: 1.33em;
  color: #666;
  margin-top: 5px;
}
.button {
  border: 3px outset #444;
  background-color: #888;
  padding: 5px 0.5em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;

  color: #eee;
  text-shadow: #000 -1px -1px 0;
  right: calc(100% - 8em - 3px);
}
*/
/*
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
*/
a.delete:hover {
  color: red;
}
#map { height: 450px; width:700px; }